<p>heroes works!</p>
<h2>{{heroes1[0].name | uppercase}} Details</h2>
<!-- <div><span>id: </span>{{hero.id}}</div>
<div><span>strengh: </span>{{hero.strenght}}</div>
<div><span>abilities: </span>{{hero.abilities}}</div> -->


<div>
    <h2>My Heroes</h2>
    <ul class="heroes">
    <li *ngFor="let hero of heroes1" (click)="onSelect(hero)">
        <span class="badge">{{hero.id}}</span> {{hero.name}}
    </li>
    </ul>
</div>


<div *ngIf="selectedHero">
    <h2>{{selectedHero.name | uppercase}} Details</h2>
    <div><span>id: </span>{{selectedHero.id}}</div>
    <div>
    <label>name:
        <input [(ngModel)]="selectedHero.name" placeholder="name"/>
    </label>
    </div>

</div>
